{% extends 'base.html'%}
{% block body-block %}
<h2>Browse our skills</h2>

<p>Sort by:
    <a href="?sort=title&order=asc">Title /\</a> |
    <a href="?sort=title&order=desc">\/</a> |
    <a href="?sort=category&order=asc">Category /\</a> |
    <a href="?sort=category&order=desc">\/</a> |
    <a href="?sort=average_rating&order=asc">Rating /\</a> |
    <a href="?sort=average_rating&order=desc">\/</a> |
    <a href="?sort=review_count&order=asc">Review count ↑</a> |
<a href="?sort=review_count&order=desc">↓</a>
    
</p>

<table>
    <thread>
        <tr>
            <th>Username</th>
            <th>Title</th>
            <th>Category</th>
            <th>rating</th>
            <th>Reviews</th>
        </tr>
    </thread>
    <tbody>
        {% for skill in AddSkills %}
        <tr>
            <td>
              <a href="{% url 'skills_by_user' username=skill.user.user.username %}">
                {{ skill.user.user.username }}
              </a>
            </td>
            <td>
              <a href="{% url 'skill_detail_from_user' username=skill.user.user.username skill_name=skill.title %}">
                {{ skill.title }}
              </a>
            </td>
            <td>{{ skill.category }}</td>
            <td>
                {% if skill.average_rating %}
                    {{ skill.average_rating|floatformat:1 }}
                {% else %}
                No ratings
                {% endif %}
                </td>
            <td>
                {% if skill.review_count %}
                    {{ skill.review_count }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No skills found.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}