{% extends 'base.html'%}
{% block body-block %}
<h2>Browse our skills</h2>

<p>Sort by:
    <a href="?sort=username&order=asc">Username /\</a> |
    <a href="?sort=username&order=desc">\/</a> |
    <a href="?sort=title&order=asc">Title /\</a> |
    <a href="?sort=title&order=desc">\/</a> |
    <a href="?sort=category&order=asc">Category /\</a> |
    <a href="?sort=category&order=desc">\/</a> |
    <a href="?sort=average_rating&order=asc">Rating /\</a> |
    <a href="?sort=average_rating&order=desc">\/</a> |
    <a href="?sort=review_count&order=asc">Review count ↑</a> |
<a href="?sort=review_count&order=desc">↓</a>
    
</p>

<table>
    <thread>
        <tr>
            <th>Username</th>
            <th>Title</th>
            <th>Category</th>
            <th>rating</th>
            <th>Reviews</th>
        </tr>
    </thread>
    <tbody>
        {% for skill in skills %}
        <tr>
            <td>
              <a href="{% url 'browse:skills_by_user' username=skill.user.username %}">
                {{ skill.user.username }}
              </a>
            </td>
            <td>
                <a href="{% url 'browse:users_by_skill' slug=skill.slug %}">
                    {{ skill.title }}
                </a>
            </td>
            <td>{{ skill.category }}</td>
            <td>
                {% if skill.calculated_rating %}
                    {{ skill.calculated_rating|floatformat:1 }}
                {% else %}
                No ratings
                {% endif %}
                </td>
            <td>
                {% if skill.review_count %}
                    {{ skill.review_count }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No skills found.</td></tr>
        {% endfor %}
    </tbody>
    <div class="pagination">
        {% if skills.has_previous %}
            <a href="?page={{ skills.previous_page_number }}&sort={{ current_sort}}&order={{ current_order }}">« Prev</a>
        {% endif %}

        Page {{ skills.number }} of {{ skills.paginator.num_pages }}

        {% if skills.has_next %}
        <a href="?page={{ skills.next_page_number }}&sort={{ current_sort }}&order={{ current_order }}">Next »</a>
        {% endif %}
    </div>
</table>
{% endblock %}