{% extends 'base.html' %}
{% block title%}Skills by user{% endblock %}
{% block body-block %}
<h1>Skills offered by {{ user.username }}</h1>

<ul>
    {% for skill in skills %}
    <li>
        <a href="{% url 'browse:skill_detail_from_user' username=user.username skill_name=skill.title %}">
            {{ skill.title }} ({{ skill.category }})
        </a>
        <a href="{% url 'browse:users_by_skill' slug=skill.slug %}">
            All users providing this skill
        </a>
    </li>
    {% empty %}
    <li>This user hasn't offered any skills yet.</li>
    {% endfor %}
    <p><a href="{% url 'browse:browse' %}">« Back to all skills</a></p>
{%endblock body-block %}
