<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% block title %}
     
     <!-- your page title here -->

    {% endblock %}

  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css">
  <style>
    tr {
     
      height: 150px; 
    } 
    td {
      width: 33.33%;
      vertical-align: middle;
      height: 150px; 
      text-align: center;
      overflow: hidden;
      padding: 0; 
    }
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: fill;
      /* display: block; */
    }
    nav{
        height: 40px;
    }
    body{
        font-size: small;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }

  </style>
</head>
<body>
         <!-- Black header with white text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar-header">
        <div class="navbar-brand"> <a class="nav-link" href="{% url 'index' %}">Welcome</a> </div>
    </div>

    <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'admin:index' %}">ADMIN</a>
        </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'skills:addSkills' %}">ADD </a>
      </li>
  </ul>

    
      {% if user.is_authenticated %}
      <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="#">LOGOUT</a>
          </li>
      </ul>
     {% else %}
      <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="#}">LOGIN</a>
          </li>
      </ul>
     {% endif %}

     <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#">REGISTER</a>
      </li>
    </ul>
   
  

     
</nav>

<div class="container">   
    {% block body-block %}
    
    
    
    <!--Inherit here-->



    {% endblock %}
    
</div>

</body>
</html>
