{% extends 'base.html' %}

{%  block body-block %}


<div id="thankyou-page">
  <div class="container">
  <h1>Thank You for Your Message!</h1>
  <p><a href="{% url 'contactapp:contact_index' %}">Back to Contact Page</a></p>

   
  <h2>All Submissions:</h2>
  <ul>
    {% for submission in submissions %}
      <li><strong>{{ submission.name }}</strong> ({{ submission.email }}) said: "{{ submission.message }}"</li>
    {% empty %}
      <li>No messages yet.</li>
    {% endfor %}
  </ul>
  </div>
</div>

{% endblock %}

